@using System.Globalization
@using TrueSnow.Data.Models
@model  IEnumerable<TrueSnow.Web.ViewModels.Comments.CommentViewModel>

@foreach (var comment in Model)
{
    <div class="row">
        <span class="col-md-1">
            <img src="~/File?id=@comment.Creator.Files.First(f => f.FileType == FileType.Avatar).Id" alt="avatar" class="img-responsive img-circle" style="width: 50px;" />
        </span>
        <div class="col-md-6" style="margin-left: -35px;">
            <b>@comment.Creator.FirstName @comment.Creator.LastName</b>
            <small>@comment.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</small>
            <p>@comment.Content</p>
        </div>
    </div>
    <hr />
}