@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="margin-top: 10px;"><button class="btn btn-info" data-toggle="modal" data-target="#addPostModal" style="height: 39px; background-color: #4C90B7; border-color: #4C90B7;"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> <b>Post</b></button></li>
            <li class="dropdown" style="padding: 10px;">
                @{ Html.RenderAction("GetUser", "Profile", new { area = "" }); }
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a href="#" data-toggle="modal" data-target="#registerModal">Register</a></li>
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Log in</a></li>*@
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}