@model TrueSnow.Web.Models.Events.EventViewModel

<div style="margin: 0 auto; max-width: 600px;">
    <h1 class="text-center">@Model.Title</h1>
    <img src="~/File/@Model.Photo.Id" alt="photo" class="img-responsive" style="margin: 30px auto" />
    <p style="text-align: justify; margin-bottom: 40px;">@Model.DescriptionSanitized</p>
</div>