@using System.Globalization
@using TrueSnow.Data.Models
@model IEnumerable<TrueSnow.Web.Models.Posts.PostViewModel>

<div class="list-group" style="width: 600px;">
    @foreach (var post in Model)
    {
        <a href="/Posts?id=@post.Id" class="list-group-item">
            <h4 class="list-group-item-heading">@post.Title</h4>
            <img src="~/File?id=@post.Files.First(f => f.FileType == FileType.Photo).Id" alt="photo" class="img-responsive img-rounded" />
            <p class="list-group-item-text">@post.Content</p>
            <p>@post.CreatedOn.ToString("dd MMM HH:mm:ss", CultureInfo.CreateSpecificCulture("en-US"))</p>
            <p>Comments: @post.CommentsCount</p>
        </a>
    }
</div>
