@model TrueSnow.Web.Models.Posts.PostViewModel

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", style = "padding: 10px 50px;" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
    </div>

    <div class="form-group">
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = "4", placeholder = "Content" })
    </div>

    <div class="form-group">
        <input class="" type="file" placeholder="Photo" id="Photo" name="upload" style="background-color: #4C90B7" />
    </div>

    <hr />

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Add" style="background-color: #4C90B7; border-color: #4C90B7" />
    </div>
}